.quizz_app {
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
  }
  
.quizz_nav {
    background: #43aa8b;
    display: flex;
    padding: 24px 36px;
  }
  
.quizz_nav ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
.quizz_nav ul li {
    margin-bottom: 0 !important;
  }
  
.quizz_nav a {
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
  }
  
.quizz_nav a.active {
    font-weight: bold;
  }

.quizz_app h1 {
    font-weight: bold;
    font-size: 20px;
    color: #000000;
    margin: 0;
  }
  
.quizz_app h2 {
    font-weight: bold;
    font-size: 16px;
    color: #000000;
    margin: 0;
  }
  
.quizz_app button,
  .button {
    background: #ffffff;
    border: 1px solid #127c20;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    color: #127c20;
    padding: 10px 21px;
    text-decoration: none;
    cursor: pointer;
  }
  
.create-new-topic-button {
    margin: 0 auto;
    display: block;
    width: 182px;
  }
  
.quizz_app section {
    padding: 20px 16px;
  }
  
.quiz-input,
  select {
    background: #ffffff;
    border: 1px solid #979797;
    border-radius: 3px;
    padding: 8px 10px;
    width: 100%;
    margin-bottom: 16px;
  }
  
.quizz_app  select:invalid,
  input::placeholder {
    color: #979797;
    opacity: 1;
  }
  
.quizz_app .form-section {
    padding-top: 20px;
    padding-bottom: 30px;
  }
  
.quiz-center {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  
.quiz-section > h1 {
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
  }
  
.quizz_app .actions-container {
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
  }
  
  .quiz-card-front-back {
    padding-top: 25px;
  }
  
  .remove-card-button {
    color: #03a8d8;
    text-align: right;
    font-weight: bold;
    font-size: 12px;
    margin-left: auto;
    display: block;
    border: none;
    padding: unset;
    margin-top: -8px;
  }
  
.quizz_app option {
    text-transform: capitalize;
  }
  
  .topics-list {
    list-style: none;
    padding: 0;
  }
  
  .topic {
    background: #ffffff;
    border: 1px solid #bcbcbc;
    border-radius: 3px;
    padding: 26px 20px;
  }
  
  .topic-container {
    display: flex;
  }
  
  .topic img {
    width: 40px;
    margin-right: 14px;
  }
  
  .text-content > * {
    margin: 0;
  }
  
  .topic-link {
    text-decoration: none;
    color: #000000;
  }
  
  .text-content > p {
    font-size: 14px;
  }
  
  li:not(:last-child) {
    margin-bottom: 20px;
  }
  
  .topic-icon {
    width: 40px;
    display: block;
    margin: 0 auto;
  }
  
  .quizzes-list {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 12px;
  }
  
  .quiz {
    font-weight: bold;
    font-size: 14px;
    color: #000000;
    padding: 25px 6px;
    background: #ffffff;
    border: 1px solid #bcbcbc;
    border-radius: 3px;
    width: 88px;
    text-align: center;
    margin: 0 !important;
    text-decoration: none;
  }
  
  .quiz > a {
    text-decoration: none;
    color: #000000;
  }
  
 .quiz-cards-list {
    list-style: none;
    padding: 0;
  }
  
.quiz-card {
    background: #adca2d;
    border-radius: 4px;
    border: none;
    color: white;
    padding: 73px 44px;
    width: 100%;
  }
  